.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }

  .custom-shape {
    clip-path: path("M0,0 Q50,30 100,0 T200,0 L200,150 L0,150 Z");
  }
  
  