.vertical-scrollbar::-webkit-scrollbar{
    width: 13px;
  }
  
  .vertical-scrollbar::-webkit-scrollbar-track{
    background-color: #D3D3D3;
  }
  
  .vertical-scrollbar::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);;
    border-radius: 100px;
    width: 50px;
    background-color: darkgrey;
    margin: 0 20px;
  }